@import "fonts";
@import "rouge-github";

body {
  background-color: #fff;
  padding: 25px 50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  margin:0 auto;
  display: flex;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  flex: 0 1 auto;
  -webkit-font-smoothing:subpixel-antialiased;
  max-width: 21rem;
  margin-right: 2rem;
}

strong {
  color:#222;
  font-weight:700;
}


section {
  flex: 0 1 auto;
  max-width: 60rem;
  //padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  bottom:50px;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-smoothing:subpixel-antialiased;
}


@media print, screen and (max-width: 960px) {

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    //margin:0 0 20px;
  }


}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    flex: 0 1 auto;
    padding:0;
  }

  section {
    flex: 0 1 auto;
  }

  header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
