<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <article>

      <header>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        <p>Submit feedback on <a href="https://gitlab.com/KevinMGranger/support-the-meta-directory">GitLab.</a></p>
        <nav>
        {{ content | toc }}
        </nav>
      </header>

      <section>
      {{ content | detocs }}
      </section>
    </article>
      <footer>
        <p><small>Theme adapted from "jekyll minimal" by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>

  </body>
</html>